.navbar-expand-sm{
	position: fixed;
top: 55px;
background-color: #dfdfdf;
width: 100vw;
z-index:10;
left:0;
padding-right:2rem;
}
.wrapper{
	padding-bottom: 10rem;
}

.card{
	background-color: rgba(255,255,255,.8);
}
.cryptoniteLogo{
	border-bottom:1px solid #333311;
	position: fixed;
	width:100vw;
	background-color: #dfdfdf;
	z-index:10;
left:0;

}

#loadingDiv{
	height:75vh;
	width:auto;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:999;
	width:100%;
	top:0;
}

.active{
	font-weight: bold;
	color: #0064b4;
}
body{
	background:#dfdfdf;
}
img.jttm{
	position: fixed;
	z-index: -1;
	-webkit-filter: invert(.8);
	filter: invert(.8);
	opacity:.5;
}


.jttm {
	background-image: url("../img/bg.jpg");
	min-height: 90vh; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
  }
.jttm h1{
	font-size: 6.75rem;
	color:white;
	font-weight: bold;
}
  .jttm p{
	display: block;
	font-style: italic;
	font-size: 18px;
	color: white;
	top: -14px;
	position: relative;
	left: 9px;
  }

  .page-footer {
		background-color: #b6b6b6;
		bottom: 0;
    position: fixed;
		width: 100%;

}

.userSelection_section {
	height: 5rem;
	padding-left:1rem;
	padding-bottom: 8rem;
}

.goneGirl{
	background-color: rgb(161, 161, 161);
}
.goneGirl::after{
content: "REMOVED";
position: absolute;
width: 99px;
height: 48px;
top:50px;
left: 16px;
color: black;
border: 1px solid black;
line-height: 3;
text-align: center;
color:red;
font-weight: bold;
}

#table{
	display: flex;
	justify-content: center;
	padding-top:6rem;
}
.modal-body{
	padding-left: 3rem;
}
.modal-body > li{
	line-height: 1.8;
	list-style-type:decimal;
}
.modal-body > li span{
	width:75px;
}
.selectListDel{
	margin:.5rem;
	display: inline-flex;
}
.del{
	margin-top:1px;
	line-height: 1;
}
.centralSearch{
	display: flex;
	justify-content: center;
	min-width: 300px;
}

.showChartContainer{
	margin-bottom:5em;
	height: 300px; 
	width: 100%;
}
